<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net47" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net47" />
</packages>